<ng-container *ngIf="collection$ | async as collection; else loading">
  <app-tableau-light [headers]="headers">
    <tr *ngFor="let item of collection">
      <td>{{ item.typePresta }}</td>
      <td>{{ item.client }}</td>
      <td>{{ item.nbJours }}</td>
      <td>{{ item.tjmHt | currency:'EUR' }}</td>
      <td>{{ item | total | currency:'EUR' }}</td>
      <td>{{ item | total: item.tauxTva | currency:'EUR' }}</td>
      <td [appState]="item.state">
        <select (change)="changeState(item, $event)">
          <option *ngFor="let state of states | keyvalue" [selected]="state.value === item.state" [value]="state.value">{{ state.value }}</option>
        </select>
      </td>
      <td>
        <app-action-bar (del)="delete(item)" (editer)="edit(item)"></app-action-bar>
      </td>
    </tr>
  </app-tableau-light>

  <app-button [label]="label" [route]="route"></app-button>
</ng-container>

<ng-template #loading>
  <div class="d-flex justify-content-center p-5">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>
