<form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="typePresta">typePresta</label>
      <input type="text" class="form-control" id="typePresta" formControlName="typePresta">
      <div *ngIf="form.get('typePresta').invalid && form.get('typePresta').touched" class="alert alert-danger">invalid</div>
    </div>

    <div class="form-group">
      <label for="client">client</label>
      <input type="text" class="form-control" id="client" formControlName="client">
    </div>

    <div class="form-group">
      <label for="nbJours">nbJours</label>
      <input type="number" class="form-control" id="nbJours" formControlName="nbJours">
    </div>

    <div class="form-group">
      <label for="tjmHt">tjmHt</label>
      <input type="number" class="form-control" id="tjmHt" formControlName="tjmHt">
    </div>

    <div class="form-group">
      <label for="tva">tva</label>
      <input type="number" class="form-control" id="tva" formControlName="tauxTva">
    </div>

    <div class="form-group">
      <label for="state">state</label>
      <select class="form-control" id="state" formControlName="state">
        <option *ngFor="let state of states | keyvalue" [ngValue]="state.value">{{ state.value }}</option>
      </select>
    </div>

    <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Submit</button>

</form>
